-----------------------------------------Pandas e csv--------------------------------------------------------------------------------------------------

In [25]:
import pandas as pd

vendas_df=pd.read_csv(r'C:\Users\black\Documents\GitHub\Estudo-Python-Cyber\Modulo22-Analise de Dados com o Pandas\Cartilha Python\Meteora Ecommerce - FINAL AULA 1(Tabela de Produtos).csv', sep=';', encoding='latin1')

vendas_df

          Meteora Unnamed: 1  Unnamed: 2      Unnamed: 3
0             NaN        NaN         NaN             NaN
1        Produtos    Tamanho   Categoria  Preço Unitário
2   Camiseta Lisa          P   Vestuário            25,9
3   Camiseta Lisa          M   Vestuário            29,9
4   Camiseta Lisa          G   Vestuário            32,9
5         Óculos       Único  Acessórios           399,9
6        Jaqueta           P   Vestuário           249,9
7        Jaqueta           M   Vestuário           259,9
8        Jaqueta           G   Vestuário           299,9
9          Calça           P   Vestuário            85,9
10         Calça           M   Vestuário            89,9
11         Calça           G   Vestuário            92,9
12       Vestido       Único   Vestuário           149,9
13        Bermuda          P   Vestuário            65,9
14        Bermuda          M   Vestuário            69,9
15        Bermuda          G   Vestuário            70,9
16          Tênis         36     Calçado           199,9
17          Tênis         37     Calçado           249,9
18          Tênis         38     Calçado           259,9
19          Bolsa      Único  Acessórios           259,9
20           Boné      Único  Acessórios            39,9
21          Cinto      Único  Acessórios            49,9

-----------------------------------------Dataframe do Pandas--------------------------------------------------------------------------------------------------

In [27]:
import pandas as pd

vendas_df=pd.read_csv(r'Meteora Ecommerce - FINAL AULA 1(Tabela de Produtos).csv', sep=';',encoding='latin1')

vendas_df['Unnamed: 3']

0                NaN
1     Preço Unitário
2               25,9
3               29,9
4               32,9
5              399,9
6              249,9
7              259,9
8              299,9
9               85,9
10              89,9
11              92,9
12             149,9
13              65,9
14              69,9
15              70,9
16             199,9
17             249,9
18             259,9
19             259,9
20              39,9
21              49,9
Name: Unnamed: 3, dtype: object

In [28]:
import pandas as pd

vendas_df=pd.read_csv(r'Meteora Ecommerce - FINAL AULA 1(Tabela de Produtos).csv', sep=';',encoding='latin1')

vendas_df[:3]

         Meteora Unnamed: 1 Unnamed: 2      Unnamed: 3
0            NaN        NaN        NaN             NaN
1       Produtos    Tamanho  Categoria  Preço Unitário
2  Camiseta Lisa          P  Vestuário            25,9

In [29]:
import pandas as pd

vendas_df=pd.read_csv(r'Meteora Ecommerce - FINAL AULA 1(Tabela de Produtos).csv', sep=';',encoding='latin1')

vendas_df[2:3]

         Meteora Unnamed: 1 Unnamed: 2 Unnamed: 3
2  Camiseta Lisa          P  Vestuário       25,9

In [32]:
import pandas as pd

vendas_df=pd.read_csv(r'Meteora Ecommerce - FINAL AULA 1(Tabela de Produtos).csv', sep=';',encoding='latin1')

df_vendas_clientes=vendas_df[['Meteora','Unnamed: 1']]
df_vendas_clientes

          Meteora Unnamed: 1
0             NaN        NaN
1        Produtos    Tamanho
2   Camiseta Lisa          P
3   Camiseta Lisa          M
4   Camiseta Lisa          G
5         Óculos       Único
6        Jaqueta           P
7        Jaqueta           M
8        Jaqueta           G
9          Calça           P
10         Calça           M
11         Calça           G
12       Vestido       Único
13        Bermuda          P
14        Bermuda          M
15        Bermuda          G
16          Tênis         36
17          Tênis         37
18          Tênis         38
19          Bolsa      Único
20           Boné      Único
21          Cinto      Único

In [34]:
import pandas as pd

vendas_df=pd.read_csv(r'Meteora Ecommerce - FINAL AULA 1(Tabela de Produtos).csv', sep=';',encoding='latin1')

vendas_df['Meteora'][21]

'Cinto'

In [35]:
import pandas as pd

vendas_df=pd.read_csv(r'Meteora Ecommerce - FINAL AULA 1(Tabela de Produtos).csv', sep=';',encoding='latin1')

vendas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Meteora     21 non-null     object
 1   Unnamed: 1  21 non-null     object
 2   Unnamed: 2  21 non-null     object
 3   Unnamed: 3  21 non-null     object
dtypes: object(4)
memory usage: 836.0+ bytes